body {
  background-color: #E8F9FD;

  color: #497174;

  font-family: monospace;

  font-size: 12.5px
}

hr {
  width: 5%;
  border-style: none;
  border-top: dotted;
  border-width: 5px
}

h3 {color: #4db6ac;

}

thead {

    font-size: 15px;
    color: #4db6ac;
}
