body {
  background-color: #279b95;

  color: #95d9d6;

  font-style: italic;

  font-size: 15px
}

hr {
  width: 5%;
  border-style: none;
  border-top: dotted;
  border-width: 5px
}

h3 {color: #4db6ac;

}
